body{
	height: 100%;
    background: aliceblue;
}
.navbar{
	background:#c0ffff;
	margin-bottom:25px;
}
.navbar a{
	font-weight:bold;
	font-family:emoji;
	font-size:larger;
	text-align:center;
}
.dropdown-menu{
	text-align:center;
	width:max-content;
	margin:auto;
	background:#C0FFFF;
}
#main{
	margin:25px;
}
h1{
	display: inline-block;
    background: #009090;
    width: -webkit-fill-available;
    color: white;
    font-family: monospace;
    padding: 0% 2%;
	border-radius:5px;
}
p{
	width:95%;
	text-align:justify;
	text-indent:50px;
}
#main img{
	position: absolute;
    display: inline-block;
    width: 30%;
    top: 125px;
    right: 25px;
    border: solid;
    border-radius: 5px;
    border-color: #009090;
    border-width: thick;
}
#top{
	color:#009090;
	font-weight:bold;
}
.bottom{
	width: fit-content;
    text-align: center;
    margin-left: auto;
    font-weight: bold;
}
@media (max-width:768px){
	.dropdown-menu{
		border-width:medium;
		width:95%
	}
	h1{
		display:block;
		text-align:center;
	}
	#main img{
		display:block;
		position: initial;
		width: 50%;
		border: solid;
		border-radius: 5px;
		border-color: #009090;
		border-width: thick;
		margin:auto;
	}
	#cont{
		margin-top:10px;
	}
}
@media (min-width:768px) and (max-width:1000px){
	#cont{
		margin-top:50px;
	}
}
@media (min-width:1000px) and (max-width:1200px){
		#cont{
		margin-top:100px;
	}
}
@media (min-width:1200px){
	#cont{
		margin-top:170px;
	}
}